/* Estilo para a aplicação F1 Best Drivers */
.root {
    -fx-background-image: url("https://www.f1authentics.com/cdn/shop/products/DSC09904.jpg?v=1677237422&width=1000");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: cover;
    -fx-width:100%;
}

/* Estilo para o título da aplicação */
#title {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #ff2800; /* Vermelho */
    -fx-padding: 20px;
}

/* Estilo para os elementos da TableView */
.table-view {
    -fx-background-color: #00000000; /* Preto */
    -fx-text-fill: #ffffff; /* Branco */
}

/* Estilo para as células da TableView */
.table-cell {
    -fx-border-color: #ff2800; /* Vermelho */
    -fx-border-width: 0.1px;
}

/* Estilo para os elementos do BarChart */
.chart {
    -fx-background-color: transparent; /* Transparente */
}

/* Estilo para as linhas do gráfico */
.chart-series-line {
    -fx-stroke: #ff260025; /* Vermelho */
}

/* Estilo para as legendas do gráfico */
.chart-legend {
    -fx-background-color: #000000; /* Preto */
}

/* Estilo para os elementos do BarChart */
#transparentChart .chart {
    -fx-background-color: transparent; /* Transparente */
}